<div class="container">
  <!-- <form name = "input" action = "/cool_url" method = "post">
    <label for= 'text'> Type in your thoughts Post</label> <br>
    <input type="text" name="text">
    <input type="submit" value="Submit">
  </form>

  <form name = "foo" action = "/cool_url" method = "get">
    <label for= 'text'> Type in your thoughts Get</label> <br>
    <input type="text" name="text">
    <input type="submit" value="Submit">
  </form> -->
  
  <form name = "bar" action = "/cool_url" method = "get">
    <input type="text" name="post[title]">
    <input type="text" name="post[price]">
    <!-- <textarea name="post[description]"></textarea> -->
  </form>
</div>
